body {
  background-color: black;
  font-size: 1.1vw;
  color: white;
}

li a span {
  padding: 0.5vw;
  font-size: 1.5vw;
  text-align: center;
}

.nav-item {
  text-align: center;
}

#hr_title {
  border-style: dotted none none;
  border-width: 0.5vh;
  border-color: white;
  width: 50%;
  margin: auto;
  opacity: 50%;
  background-color: black;
}

section.container {
  margin-top: 2.01vw;
}
section p {
  font-size: 1.3vw;
}

#map_plotly {
  height: 40vh;
  /* height: 40vh;
  width: 4vw; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#hbarplot_plotly {
  /* height: 40vh; */
  /* width: 50vw; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#section_separator {
  display: flex;
  align-items: center;
  justify-content: center;
}

#data_and_button,
#inputvar_and_button,
#hyperparameter_and_button {
  position: relative;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#data_and_button button,
#inputvar_and_button button,
#hyperparameter_and_button button {
  background-color: transparent;
  border-color: transparent;
  /* border: 0; */
}

.material-icons {
  font-size: 64px;
}

#gglplot {
  height: 100vh;
}

/* codes hyperparams of each model */
#main_rf_hyperparams,
#vegetation_rf_hyperparams,
#climate_rf_hyperparams,
#temporal_rf_hyperparams,
#main_lgbm_hyperparams,
#vegetation_lgbm_hyperparams,
#climate_lgbm_hyperparams,
#temporal_lgbm_hyperparams {
  display: none;
}

@media (max-width: 991px) {
  li a span {
    font-size: 3vw;
  }
}
